{% extends 'base.html' %}

{% block title %}
Product Manager
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Product Manager</h1>


        <form method="POST">
          <div class="row mb-4">
            <div class="col-md-2">
              <input type="text" name="name" class="form-control" placeholder="Назва" required>
            </div>
            <div class="col-md-2">
              <input type="text" name="price" class="form-control" placeholder="Ціна" required>
            </div>
            <div class="col-md-2">
              <input type="text" name="category" class="form-control" placeholder="Категорія" required>
            </div>

            <div class="col-md-1">
              <button type="submit" class="btn btn-dark w-100">Add</button>
            </div>
          </div>
        </form>

        <div class="mb-4" >
            <form method="GET" class="row">
                <div class="col-md-2">
                    <select name="category" class="form-select">
                        <option value="all" {% if choice_category=='all' %} selected {% endif %}>All</option>

                        {% for row in categories %}
                            <option value="{{ row.category }}" {% if choice_category==row.category %} selected {% endif %}>
                                {{ row.category.title() }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark w-100">Apply</button>
                </div>
            </form>
        </div>

        <h3 class="mb-4">Products: </h3>

        <table border="1px" cellpadding="5px" class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for item in products %}
                    <tr>
                        <td>{{ item["name"] }}</td>
                        <td>{{ item["price"] }}</td>
                        <td>{{ item["category"] }}</td>
                        <td>
                            <a href="{{ url_for('product.delete', name=item['name']) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}