<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductManager</title>
</head>
<body>

    <h1>Product Manager</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color: red">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="Enter" required>
        <label for="price">Price: </label>
        <input type="number" id="price" name="price" placeholder="Enter" required>
        <label for="category">Category: </label>
        <input type="text" id="category" name="category" placeholder="Enter" required>
        <button type="submit">Add</button>
    </form>

</body>
</html>